{{ define "main" }}

<main>
	<div class="post">
		{{ partial "single/hero.html" . }}
		<div class="post__all-info">
			{{ partial "single/title.html" . }}
			{{ partial "single/post-info.html" . }}
		</div>
		<div class="post__body">{{ .Content }}</div>
		<div class="post__footer">
				{{/*  {{- if .Params.Author }}
					<h2>
						<span>{{ i18n "writtenBy" }}:</span>
								{{ .Params.Author }}
					</h2>
				{{- end }}  */}}
				{{- if .PrevInSection }}
					<a class="pagination" href="{{ .PrevInSection.RelPermalink }}" class="right arrow">
						<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.979 13.706L11.693 22.421L13.107 21.007L6.1 13.999L23.313 13.999L23.313 11.999L6.10001 11.999L13.107 4.99299L11.693 3.57899L2.979 12.292C2.589 12.683 2.589 13.315 2.979 13.706Z" fill="black"/>
							</svg>{{ .PrevPage.Title }}
					</a>
				{{- end }}
				{{- if .NextInSection }}
				<a class="pagination" href="{{ .NextInSection.RelPermalink }}" class="left arrow">{{ .NextPage.Title }}
					<svg xmlns="http://www.w3.org/2000/svg"  version="1.1" x="0px" y="0px" viewBox="0 0 26 26" enableBackground="new 0 0 26 26" >
						<path d="M23.021,12.294l-8.714-8.715l-1.414,1.414l7.007,7.008H2.687v2h17.213l-7.007,7.006l1.414,1.414l8.714-8.713  C23.411,13.317,23.411,12.685,23.021,12.294z"/>
					</svg>
				</a>
			{{- end }}
		</div>
	</div>
</main>

{{ end }}
